<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>AJAX List Functionality Demo - Country Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="ajax-list/css/ajax-list.css" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
  </head>

  <body>

    <div class="container">

      <h1>AJAX List Functionality Demo <small>Country Table</small></h1>
      <p class="lead">This page is demonstrating AJAX List functionality applied to the table: pagination, sorting, deep linking, item manipulation and details viewing.</p>

      <div id="countries" class="hidden">

        <div class="pull-left add-item-block">
        <form class="item-form form-horizontal" enctype="multipart/form-data" method="post">
          <h3>Add Country</h3>
          <div class="clearfix">
            <fieldset>
              <div class="control-group">
                <label class="control-label" for="common-name">Common Name</label>
                <div class="controls">
                  <input type="text" id="common-name" name="common_name" value="">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="formal-name">Formal Name</label>
                <div class="controls">
                  <input type="text" id="formal-name" name="formal_name" value="">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="type">Type</label>
                <div class="controls">
                  <input type="text" id="type" name="type" value="">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="sub-type">Sub Type</label>
                <div class="controls">
                  <input type="text" id="sub-type" name="sub_type" value="">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="soveregnity">Sovereinity</label>
                <div class="controls">
                  <input type="text" id="soveregnity" name="sovereignty" value="">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="capital">Capital</label>
                <div class="controls">
                  <input type="text" id="capital" name="capital" value="">
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="control-group">
                <label class="control-label" for="iso4217-currency-code">ISO 4217 Currency Code</label>
                <div class="controls">
                  <input type="text" id="iso4217-currency-code" name="iso4217_currency_code" value="">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="iso4217-currency-name">ISO 4217 Currency Name</label>
                <div class="controls">
                  <input type="text" id="iso4217-currency-name" name="iso4217_currency_name" value="">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="itu-t-telephone-code">ITU-T Telephone Code</label>
                <div class="controls">
                  <input type="text" id="itu-t-telephone-code" name="itu_t_telephone_code" value="">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="iso3166-1-2letter-code">ISO 3166-1 2-Letter Code</label>
                <div class="controls">
                  <input type="text" id="iso3166-1-2letter-code" name="iso3166_1_2letter_code" value="">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="iso3166-1-3letter-code">ISO 3166-1 3-Letter Code</label>
                <div class="controls">
                  <input type="text" id="iso3166-1-3letter-code" name="iso3166_1_3letter_code" value="">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="iso3166-1-number">ISO 3166-1 Number</label>
                <div class="controls">
                  <input type="text" id="iso3166-1-number" name="iso_3166_1_number" value="">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="iana-country-code-tld">IANA Country Code TLD</label>
                <div class="controls">
                  <input type="text" id="iana-country-code-tld" name="iana_country_code_tld" value="">
                </div>
              </div>
            </fieldset>
          </div>
          <fieldset class="form-actions">
          <div>
            <button type="submit" class="btn btn-primary">Add Entry</button>
            <a class="btn cancel-button" href="#">Cancel</a>
          </div>
          </fieldset>
        </form>
        </div>

        <div class="pagination-container pull-right"></div>
        <table id="country-table" class="table table-bordered" data-display="ajax-list" ajax-list-able="add,edit,delete,details" ajax-list-url="/country_info_*">
          <thead>
            <tr>
              <th style="width: 30px;"></th>
              <th sort-name="common_name"><a href="#">Name</a></th>
              <th sort-name="type" style="width: 20%;"><a href="#">Type</a></th>
              <th sort-name="capital" style="width: 20%;"><a href="#">Capital</a></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
        <div class="pagination-container pull-right"></div>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/jquery-1.8.1.min.js"></script>
    <script src="static/jquery.form.js"></script>
    <script src="ajax-list/ajax-list.js"></script>

  </body>
</html>
