<tr meta-item="meta-item" item-count="{{count}}" items-per-page="{{per_page}}">
%i = start
%for d in data:
%i += 1
<tr class="item" item-id="{{d["rowid"]}}" item-data="">
    <td>{{i}}</td>
    <td>
        <div><a href="#" class="name details-link">{{d["common_name"]}}</a></div>
        <div class="formal-name">{{d["formal_name"]}}</div>
    </td>
    <td>
        <div class="type">{{d["type"]}}</div>
        <div class="sub-type">{{d["sub_type"]}}</div>
    </td>
    <td>{{d["capital"]}}</td>
</tr>
%end