body { padding-bottom: 20px; }
.sub-type { color: #999; }
.pagination { margin-top: 0; }
.btn.add-item { margin-top: 10px; }
fieldset { float: left; }
fieldset.form-actions { float: none; margin-top: 0px; }